.info-container {position: absolute;
    left: 170px;
    bottom: 40%; 
    width: 288px;
    margin-left: -144px;
    text-align: left;
    /* overflow: hidden; */
    font-size: 12px;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    line-height: 1.5;
}
.info-container {
    box-sizing: border-box;
    width: 140px;
    padding: 7px;
    background-color: #333;
    /* border: 1px dashed red; */
    border-radius: 7px;
}
.info-container button {
    outline: none;
    border: none;
}
.info-container button:hover {
    background-color: white;
}
.info-container .content {
    /* border: 1px dashed blue; */
    /* border-radius: 5px; */
    background-color: #2b2d36;
    display: block;
    width: 100%;
    text-align: left;
    overflow: hidden;
    color: #aaabaf;
}
.info-container .content+.content {
    border-top: none;
}
.info-container .title {
    font-size: 16px;
    color: #f9fafb;
    /* overflow:scroll; */
    padding-bottom: 5px;
}
.info-container .close {
    position: absolute;
    top: 3px;
    right:10px;
    /* float:right; */
    /* color: #888; */
    color: #f9fafb;
    font-weight: 200;
    /* width: 17px;
    height: 17px; */
    /* background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png'); */
}
.info-container:hover {cursor:default;}
.info-container .close:hover {cursor: pointer;}